@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #ecf2f8;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  max-width: 320px;
  margin: 0 auto;
}

.image {
  width: 320px;
  height: 200px;
}

.image img {
  height: 100%;
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  padding: 20px 30px;
  position: relative;
  border-radius: 0 0 5px 5px;
  gap: 20px;
}

.author {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.author-details {
  display: flex;
  align-items: center;
  gap: 20px;
}

.author-details img {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  background-color: gray;
}

.author .share-icon {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content h3 {
  font-size: 15px;
  color: #48556f;
  font-weight: 600;
}

.info-text {
  font-size: 13px;
  color: #abafc2;
}

.author-name {
  font-size: 12px;
}
.publish-date {
  color: #abafc2;
  font-size: 12px;
}

/* share-items styles */
.share-items {
  background-color: #48556a;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 15px 0;
  position: absolute;
  bottom: -10px;
  border-radius: 0 0 5px 5px;
  color: white;
}

.share-items ul {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.share-items ul li {
  list-style: none;
}
.share-mobile-icon {
  width: 40px;
  height: 40px;
  background-color: lightgray;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.desktop-share-items {
  background-color: #48556a;
  color: white;
  display: flex;
  align-items: center;
  padding: 12px 10px;
  gap: 40px;
  border-radius: 5px;
  display: none;
  position: absolute;
  right: -11%;
  top: 50%;
}

.desktop-share-items ul {
  display: flex;
  gap: 20px;
}

.desktop-share-items ul li {
  list-style-type: none;
}

@media (min-width: 700px) {
  .container {
    flex-direction: row;
    max-width: 712px;
  }
  .image {
    width: 1000px;
    height: 247px;
  }
  .image img {
    border-radius: 5px 0 0 5px;
  }
  .content {
    border-radius: 0 5px 5px 0;
  }
  .desktop-share-items {
    display: block;
    display: flex;
  }
}

/* display none */
.none {
  display: none;
}
